<div class="card shadow h-100">
  <img [src]="myCard.thumbnail" class="card-img-top" alt="Product Thumbnail" />
  <div class="card-body">
    <h5 class="card-title text-primary">{{ myCard.title }}</h5>
    <p class="card-text">
      {{ myCard.description | slice : 0 : 90
      }}{{ myCard.description.length > 90 ? "..." : "" }}
    </p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <strong>Price:</strong> {{ myCard.price | priceCurrency }}
      </li>
      <li class="list-group-item">
        <strong>Discount Percentage:</strong>
        {{ (myCard.discountPercentage | number : "1.0-0") + "%" }}
      </li>
      <li class="list-group-item">
        <strong>Rating: </strong>
        <span
          class="fa fa-star gold-star"
          *ngFor="let star of starsArray(myCard.rating)"
        ></span>
      </li>
      <li class="list-group-item">
        <strong>In Stock:</strong> {{ myCard.stock }}
      </li>
      <li class="list-group-item">
        <strong>Brand:</strong> {{ myCard.brand }}
      </li>
      <li class="list-group-item">
        <strong>Category:</strong> {{ myCard.category }}
      </li>
    </ul>
    <div class="d-flex justify-content-around">
      <button
        class="btn btn-primary my-3"
        (click)="redirectToDetails(myCard.id)"
      >
        View Details
      </button>
      <button class="btn btn-secondary my-3" (click)="addToCart(myCard)">
        Add to Cart
      </button>
    </div>
  </div>
</div>
